body{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.intro{
    height: 83vh;
    background: linear-gradient(to right, rgba(8, 112, 231, 0.877),rgb(252, 251, 248));
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: "Comfortaa",sans-serif;
}
.custom-shape-divider-bottom-1717695479 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1717695479 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1717695479 .shape-fill {
    fill: #f1faed;
}
.intro-content{
    width: 50%;
    margin: 10% 0px 0px 15%;
}
.blue{
    color: rgba(10, 16, 92, 0.774);
}
.small{
    color: black;
}
.btn{
    width: 25%;
    height: 9%;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 3px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}
.intro-image{
    width: 70%;
}
.intro-image img{
    width: 80%;
    height: 50%;
    margin: 12% 0 0 0;
}
.box{
    margin: 5% 10% 5% 10%;
    width: 80%;
    height: 30%;
    font-family: "Tajawal",sans-serif;

}
.sale{
    margin: 10px;
    width: 98%;
    height: 93%;
}

.show-pieces{
    display: flex;
    flex-direction: row;
    width: 33.33%;
    height: 100%;
    margin: 10px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sale-products{
    display: flex;
    flex-direction: row;
}
.show-piece1{
    width: 50%;
}
.show-img{
    width: 50%;
}
.show-img img{
    width: 150px;
    height: 100px;
    padding-top: 20px;
}
.show-piece1 a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.show-piece1 a:hover{
    text-decoration: underline;
    color: #8B572A;
}
.show-piece1 h6{
    font-size: 12px;
}
.show-piece1 h3{
    font-weight: 800;
}
.show-pieces:hover{
    padding: 20px;
    cursor: pointer;
}
  
.box2{
    margin: 0% 10% 0 10%;
    width: 80%;
    height: 40%;
    font-family: "Tajawal",sans-serif;
    display: flex;
    flex-direction: row;
}
.facilities{
    margin: 10px;
    width: 50%;
    height: 40%;
}

.facility{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 50%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.facility:hover{
    padding: 30px;
}
.facilities-row{
    display: flex;
    flex-direction: column;
}
.col1{
    padding: 10px;
}
.bigger{
    font-size: 17px;
    font-weight: 700;
}
.facility-img{
    margin: 7px 10px 10px 15px;
    width: 50px;
    height: 50px;
}
.smaller{
    font-size: 10px;
    font-weight: 400;
}
.col2{
    width: 50%;
}

  
